@import 'open-color';

.App {
  position: fixed;
  inset: 0;
}

.hoverable .hovered {
  opacity: 0.0;
  transition: opacity 0.1s;
}

.hoverable:hover .hovered {
  opacity: 1.0;
}

.Field {
  margin-bottom: -6px;

  span {
    padding-bottom: 4px;
    outline: none;
    border-bottom: 2px solid transparent;

    &:focus {
      border-bottom: 2px solid $oc-blue-5;
    }
  }
}

.Select {
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 14;
  line-height: 1;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.Link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;

  &:global(.active) {
    background: #e9ecef;
    font-weight: medium;
  }
}

@media screen and (max-width: 1439px) {
  .backlogPage {
    flex: 1 0 100vw !important;

    .backlogPanel {
      flex: 1.25 0 !important;
    }

    .detailsPanel {
      flex: 1 0 !important;
    }
  }

  .epicsPage {
    flex: 1 0 100vw !important;
  }
}


@media screen and (max-width: 1023px) {
  .backlogPage {
    .backlogPanel {
      flex: 0 0 100vw !important;
    }

    .detailsPanel {
      flex: 0 0 100vw !important;
    }
  }
}

@media screen and (max-width: 1919px) {
  .epicsPage {
    // flex: 1 0 100vw !important;

    .epicsPanel {
      flex: 0.5 0 !important;
    }

    .epicDetailsPanel {
      .epicDetails {
        flex: 0 0 100% !important;
      }

      .requirementDetails {
        flex: 0 0 100% !important;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .epicsPage {
    .epicsPanel {
      flex: 0 0 100vw !important;
    }

    .epicDetailsPanel {
      flex: 0 0 100vw !important;
    }
  }
}
